@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
* {
	margin: 0;
    padding: 0;
}
body {
	margin: 0 auto;
	max-width: 1280px;
    max-height: 1626px;
    font-family: 'Montserrat', sans-serif;
}
div .container {
	max-width: 1145px;
	background: rgba(0, 0, 0, 0.0001);
}
.header__list {
	text-align: center;
}
.header__list li {
    list-style: none;
	display: inline-block;
	margin: 25px 36px 25px;
}
.header__list a {
    font-weight: 700;
	color:#FF0000;
	font-style: normal;
	font-size: 18px;
	line-height: 1;
    display: flex;
	align-items: center;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	height: 27px;
}
.link__home {
	width: 68px;
}
.link__photoapp {
	width: 131px;
}
.link__design {
	width: 87px;
}
.link__download {
	width: 140px;
}
.title {
	margin-top: 48px;
	text-align: center;
	font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
	letter-spacing: 2.4px;
    color: #373737;
}
.first {
	margin: 38px 67px;
}
.second {
    margin: 28px 67px;
  
}
.button {
	font-family: 'Montserrat', sans-serif;
	margin-left: 544px;
    margin-top: 66px;
    padding: 18px 43px 18px 43px;
    background-color: #FF0000;
    border-radius: 4px;
    border: none;
	color: #FFFFFF;
	display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
}
.footer-container {
	background: rgba(0, 0, 0, 0.0001);
	margin: 82px;
    margin-bottom: 29px;
	justify-content: end;
	width: 1070px;
    height: 39px;
	font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    color: #373737;
}
